
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{ 
    --transition: all 300ms ease-in-out; 
    --dark-color: #332e29;
    --light-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    outline: 0;
}
html{ 
    font-size: 10px;
    scroll-behavior: smooth;
} 
/*font*/
body{ 
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0px;
    height: 100vh;
       

}

button, .btn{
    cursor: pointer;
    border: none;
    background: transparent;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
img{
    width: 100%;
    display: block;
}

.container{ 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.vh-100{
    min-height: 100vh;
}

h1, h2, h3 {
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--dark-color);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 7rem 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.lead{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}
/*header */
#header{ 
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0,0,0,0.3)), url('../images/header-banner.jpg') center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}
#header .container{
    width: 100%;
}
.header-content{
    padding-bottom: 4rem;
}
.header-content h1{
    font-size: 4.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--light-color);
}

.header-content h3{ 
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.social-links{ 
    display: flex;
    margin-top: 3.5rem;
}
/* border for social links*/ 
.social-links li a{
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 1rem; 
    border-radius: .3rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.social-links li a:hover{
    opacity: 0.9;
}

/* about */
.about-left{
    margin-bottom: 4rem;
    height: 890px;
    overflow: hidden;
}
/* button down and title -reusable */
.btn-down{
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}
.btn-down:hover{
    opacity: 0.8;
    transform: translateY(5px);
}
.btn-down-white{
    color: var(--light-color);
}
.title{
    margin-bottom: 5rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--dark-color);
}
/* work */
#work{
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/DSC_1007-2.jpg') center/cover no-repeat fixed;
    color: var(--light-color);
}
#work .title h2, #work h3{
    color: var(--light-color);
}
#work .title h2::after{
    background: var(--light-color);
}
.work-bottom{
    margin-top: 4rem;
    text-align: center;
}
.work-bottom > div .icon img{
    width: 50px;
    margin: 0 auto 1.7rem auto;
}
/*portfolio*/
.portfolio-grid > div{
    transition: var(--transition);
}
.portfolio-grid > div:hover{
    transform: scale(0.9);
}

/*New Front end stuff*/
.Cards{
    margin: 0px;
    height: 100vh;
    display: grid;
    place-items: center;
}

.card-groups,
.card-group,
.card { 
    aspect-ratio: 5/7;
    
}

.card-groups,
.card-group,
.big-card{
    width: 30vmin;
}

.card-group{
    position: absolute;
    transition: transform 400ms ease;
}

.card-group[data-status="unkown"]{
    transform: scale(0);
    transition: none;
}
.card-group[data-status="active"]{
    transition-delay: 300ms;
}
.card-group[data-status="after"]{
    transform: translateX(50%) scale(0);
}

.card-group[data-status="before"]{
    transform: translateX(-50%) scale(0);
}

.card-group[data-status="becoming-active-from-after"] {
    transform: translateX(50%) scale(0);
    transition: none;
}

.card-group[data-status="becoming-active-from-before"]{
    transform: translateX(-50%) scale(0);
    transition: none;
}

.card-swiper-buttons{
    margin-top: 8vmin;
    display: flex;
    justify-content: space-around;
    padding: 0vmin 4vmin;
}

.card-swiper-buttons > button {
    background-color: transparent;
    border: 0.4vmin solid rgb(0, 0, 0);
    border-radius: 100%;
    font-size: 2.5vmin;
    color: black;
    cursor: pointer;
    background-color: transparent;
    height: 5vmin; 
    width: 5vmin;
}

#love-button{
    color: rgb(33, 150, 243);
    border-color: rgb(33, 150, 243);
}
.card{
    /*aspect-ratio is a new css property that allows you to set the width and height of an element based on a ratio. In this case, 5/7*/
    aspect-ratio: 5/7;
    background-color: rgb(255, 255, 255, 0.05);
    transition: transform 800ms cubic-bezier(.05, .43, .25, .95);
    position: absolute;
}

.big-card{
    /*vmin is a unit of measurement that is 1% of the viewport's width or height, whichever is smaller.*/
    width: 30vmin;
    /*border-radius is a property that allows you to round the corners of an element. In this case, 1% of the viewport's width or height, whichever is smaller.*/
    border-radius: 1vmin;
}

.little-card {
    width: 12vmin;
    border-radius: 2vmin;
  

    /*left and top are properties that allow you to position an element relative to the top left corner of its parent element. In this case, we are positioning the element 50% of the viewport's width or height, whichever is smaller, from the top left corner of its parent element.*/
    transform: translate(50%,50%);
    /*transform is a property that allows you to move, rotate, scale, and skew an element. In this case, we are moving the element 50% of the viewport's width or height, whichever is smaller, to the right and down.*/
    width: 12vmin;
    border-radius: 2vmin;
}

.big-card:nth-child(2){
    /*make the background image fit the element*/
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1571987502227-9231b837d92a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80"); 
    /*transform is a property that allows you to move, rotate, scale, and skew an element. In this case, we are moving the element 10% of the viewport's width or height, whichever is smaller, to the left.*/
    transform: translateX(-10%) rotate(-1deg);
}
.big-card:nth-child(4){
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1606596583497-20289e317be4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    transform: rotate(2deg);
}
.big-card:nth-child(6){
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1610356992334-183d6b7b2acb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
    transform: translateX(-6%) rotate(-3deg);
}
.big-card:nth-child(8){
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1606016159991-dfe4f2746ad5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
    transform: translateX(10%, 3%) rotate(5deg);
}

.little-card:nth-child(1) {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1637704758199-dfa7835ca2df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1036&q=80");
}

.little-card:nth-child(3) {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1572029117144-b991c2eaee93?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=988&q=80");
}

.little-card:nth-child(5) {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1612810806563-4cb8265db55f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
}

.little-card:nth-child(7) {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1617671536627-ad3218167479?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80");
}

.card-group[data-index="1"]>.big-card:nth-child(6) {
    background-image: url("https://images.unsplash.com/photo-1537151608828-ea2b11777ee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.card-group[data-index="1"] > .big-card:nth-child(8) {
    background-image: url("https://images.unsplash.com/photo-1552053831-71594a27632d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.card-group[data-index="2"] > .big-card:nth-child(4) {
    background-image: url("https://images.unsplash.com/photo-1537151608828-ea2b11777ee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.card-group[data-index="2"] > .big-card:nth-child(8) {
    background-image: url("https://images.unsplash.com/photo-1534351450181-ea9f78427fe8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.card-group:hover > .big-card:nth-child(2) {
    transform: translate(-75%, 16%) rotate(-24deg);
}

.card-group:hover>.big-card:nth-child(4) {
    transform: translate(-25%, 8%) rotate(-8deg);
}

.card-group:hover>.big-card:nth-child(6) {
    transform: translate(25%, 8%) rotate(8deg);
}

.card-group:hover>.big-card:nth-child(8) {
    transform: translate(75%, 16%) rotate(24deg);
}

.card-group:hover>.little-card:nth-child(1) {
    transform: translate(300%, -50%) rotate(-15deg);
}

.card-group:hover>.little-card:nth-child(3) {
    transform: translate(270%, 280%) rotate(15deg);
}

.card-group:hover>.little-card:nth-child(5) {
    transform: translate(-80%, -50%) rotate(15deg);
}

.card-group:hover>.little-card:nth-child(7) {
    transform: translate(-150%, 250%) rotate(-15deg);

}




/* contact */
#contact{
    background-color: rgb(248, 248, 248);
}
.contact-content{
    flex-direction: column;
    align-items: stretch;
}
.contact-left{
    margin-bottom: 5rem;
}
.contact-left .lead{
    padding: 0.5rem;
}
.contact-left form{
    margin-top: 3rem;
}
.contact-left form .form-control{
    display: block;
    margin: 1.6rem 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
}
.contact-left form .form-control::placeholder{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-left .btn-submit{
    padding: 1.4rem 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: var(--transition);
}
.contact-left .btn-submit:hover{
    background-color: #000;
}

#insta{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/LRM_EXPORT_20170706_210016.jpg') center/cover no-repeat fixed;
    min-height: 65vh;
}
#insta .title h2{
    color: var(--light-color);
}
#insta .title h2::after{
    background-color: var(--light-color);
}
.insta-grid > div{
    height: 400px;
    overflow: hidden;
    transition: var(--transition);
}
.insta-grid > div img{
    height: 100%;
    object-fit: cover;
}
.insta-grid > div:hover{
    transform: scale(0.9);
}

/* footer */
#footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}
.footer-content{
    text-align: center;
}
.footer-content h3{
    color: var(--light-color);
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.footer-content ul{
    flex-direction: column;
}
.footer-content ul li a{
    color: var(--light-color);
    font-size: 1.5rem;
    transition: var(--transition);
}
.footer-content ul li a:hover{
    opacity: 0.7;
}
.footer-content ul li{
    margin: .5rem 1rem;
}
.footer-content > div:first-child{
    margin-bottom: 3rem;
}
.footer-content > div:first-child div{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 5rem auto;
    border-radius: 50%;
}


/*Media Queries*/
@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
}


/*education buttons*/
@media(min-width: 450px){
    .work-bottom{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 0;
    }
}
/*portfolio photos*/
@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
    .work-bottom{
        grid-template-columns: repeat(4, 1fr);
    }
    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-grid > div{
        height: 300px;
        overflow: hidden;
    }
    .portfolio-grid > div img{
        height: 100%;
        object-fit: cover;
    }
    .contact-left form .form-control{
        max-width: 500px;
    }
    .footer-content ul{
        flex-direction: row;
    }

}

@media(min-width: 768px) {
    .header-content h1 {
        font-size: 7rem;
    }

    .about-content,
    .work-top {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }

    .about-left {
        margin-bottom: 0;
    }

    .contact-content {
        flex-direction: row;
    }

    .contact-right {
        padding-left: 3rem;
        width: 50%;
    }

    .contact-left {
        width: 50%;
    }

    .insta-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}
/*adjusts image to contact me*/

@media(min-width: 992px) {
    .insta-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .insta-grid>div {
        height: 250px;
    }
}

@media(min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .portfolio-grid > div:nth-child(2){
        grid-column: 2 / 4;
    }
    .portfolio-grid > div:nth-child(6){
        grid-column: 1 / 3;
    }
    .portfolio-grid > div:nth-child(11){
        grid-column: 1/ 3;
    }
    .portfolio-grid > div:nth-child(17){
        grid-column:2/ 4;
    }
}